body {
	background-color: greenyellow;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
	margin: auto;
	background-color: honeydew;
	width: 80%;
	padding: 1em;
}


.counter {
	background-color: lightgray;
	font-size: 2em;
	width: 3em;
	text-align: center;
	padding: 0.5em;
	margin-bottom: 0.25em;
}

/* table, td, th {    
    border: 1px solid snow;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 15px;
} */

/* .cart table {
	border-collapse: collapse;
}

.cart table {
	border-collapse: collapse;
	width: 100%;
}

.cart td {
	border-top: 1px solid snow;
} 

.cart th, td {
	padding: 15px;
	text-align: left;
} */
